<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spotify Sorter</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='Functions/style.css') }}">
  <script defer src="{{ url_for('static', filename='Functions/main.js') }}"></script>
</head>
<body data-logged-in="{{ 'true' if 'token_info' in session else 'false' }}">
  <div id="loader" class="loader-wrapper" style="display: none;">
    <div class="spinner"></div>
  </div>
  <div class="layout">
    <!-- Header -->
    <header class="header">
      <a href = "{{ url_for('main')}}">
        <button class="spotifySorter">SPOTIFY SORTER</button>
      </a>

      {% if name %}
            <span class="textName">{{ name }}</span>
      {% endif %}
    </header>

    <!-- Content -->
    <div class="content">
      <!-- Sidebar -->
      <aside class="sidebar">
        <a href ="{{ url_for('functions')}}">
          <button class="functions">FUNCTIONS</button>
        </a>
        <a href="{{ url_for('help_page')}}">
          <button class="help">HELP</button>
        </a>
        
        <a href="{{ url_for('about_page') }}">
          <button class="about">ABOUT</button>
        </a>

        <a href="{{ url_for('logout') }}"  id="logoutButton">
          <button class="login">LOGOUT</button>
        </a>
        <a href="{{ url_for('login') }}"  id="loginButton">
          <button class="login">LOGIN</button>
        </a>

      </aside>

      <!-- Main -->
      <main class="main">
        <h2 class="textFunctions">FUNCTIONS</h2>

        <form id="mainForm" method="post" onsubmit="showLoader()">
          
          {% if message %}
            <p class="text-block">{{ message }}</p>
          {% endif %}
          
          <div id="buttons" class="button-group">
            <button class="sort" type="button" onclick="revealNumberSort(); hideButtons()">Sort Playlists</button>
            <button class="delete" type="submit" name="action" value="clear">Delete Playlists</button>
            <button class="top20" type="button" onclick="revealChoices(); hideButtons();">Top 20 Songs</button>
            <button class="top10fromArt" type="button" onclick="revealArtist(); hideButtons();">Top 10 by Artist</button>
            <button class="top20" type="button" onclick="revealChoicesTopArtists(); hideButtons();">Top from Top 5 Artists</button>
          </div>

          <!-- Choices -->
          <div id="choices" class="form-section hidden">
            <p>Select the time range for top 20 songs:</p>
            <label><input type="radio" name="time" value="short_term" /> Short term (4 weeks)</label><br />
            <label><input type="radio" name="time" value="medium_term" /> Medium term (6 months)</label><br />
            <label><input type="radio" name="time" value="long_term" /> All time</label><br />

            <button type="submit" name="action" value="top20_songs">Confirm</button>
            <button type="button" onclick="hideChoices(); revealButtons();">Cancel</button>
          </div>

          <!-- ChoicesTopArtistsSongs -->
          <div id="choicesTopArtists" class="form-section hidden">
            <p>Select the time range for top 20 songs:</p>
            <label><input type="radio" name="timeTopArtist" value="short_term" /> Short term (4 weeks)</label><br />
            <label><input type="radio" name="timeTopArtist" value="medium_term" /> Medium term (6 months)</label><br />
            <label><input type="radio" name="timeTopArtist" value="long_term" /> All time</label><br />

            <button class="topArtist" type="submit" name="action" value="topArtistsSongs">Confirm</button>
            <button type="button" onclick="hideChoicesTopArtists(); revealButtons();">Cancel</button>
          </div>

          <!-- Number Sort -->
          <div id="numberSort" class="form-section hidden">
            <label>Number of songs to sort:
              <input type="number" name="numSort" value="20" min="1" max="256" />
            </label><br /><br />
            <label>Offset in playlist::
              <input type="number" name="Offset" value="20" min="1" max="256" />
            </label><br /><br />

            {% for item in my_list %}
              <label>
                <input type="radio" name="selected_option" value="{{ item }}" />
                {{ item }}
              </label><br />
            {% endfor %}

            <button type="submit" name="action" value="sort">Confirm Sort</button>
            <button type="button" onclick="hideNumberSort(); revealButtons();">Cancel</button>
          </div>

          <!-- Artist -->
          <div id="artist" class="form-section hidden">
            <label>Artist name:
              <input type="text" name="artist" />
            </label><br />
            <button type="submit" name="action" value="top10_artist">Confirm</button>
            <button type="button" onclick="hideArtist(); revealButtons();">Cancel</button>
          </div>
        </form>
      </main>
    </div>
  </div>
</body>
</html>
