<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spotify Sorter</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='Main/style.css') }}">
  <script defer src="{{ url_for('static', filename='Main/main.js') }}"></script>
</head>
<body data-logged-in="{{ 'true' if 'token_info' in session else 'false' }}">
    <div class="main-container">
      <div class="spotify-sorter">SPOTIFY SORTER</div>
      <div class="button-container">
        <a href="{{ url_for('functions') }}">
            <button class="button">FUNCTIONS</button>
        </a>
        <a href="{{ url_for('help_page')}}">
          <button class="button">HELP</button>
        </a>
        <a href="{{ url_for('logout') }}"  id="logoutButton">
          <button class="button">LOGOUT</button>
        </a>
        <a href="{{ url_for('login') }}"  id="loginButton">
          <button class="button">LOGIN</button>
        </a>

      </div>
      
    </div>
</body>
</html>
