
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spotify Sorter</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='Main/style.css') }}">
  <script defer src="{{ url_for('static', filename='Main/main.js') }}"></script>
</head>
<body>
    <div class="main-container">
      <div class="spotify-sorter">SPOTIFY SORTER</div>
      <div class="button-container">
        <a href="{{ url_for('functions') }}">
            <button class="button button-1">FUNCTIONS</button>
        </a>
        <a href="{{ url_for('help_page')}}">
          <button class="button button-2">HELP</button>
        </a>
        <a href="{{ url_for('about_page')}}">
          <button class="button button-3">ABOUT</button>
        </a>
      </div>
      
    </div>
</body>
</html>
