/* Container */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #212121;
  color: white;
}

/* Spotify Sorter Section */
.spotify-sorter {
  position: absolute;
  width: 415px;
  height: 195px;
  left: 50%;
  transform: translateX(-50%);
  top: 357px;

  font-weight: 900;
  font-size: 36px;
  line-height: 1.5;
  text-align: center; /* horizontal text alignment */

  color: #FFFFFF;

  display: flex;
  align-items: flex-start; /* no vertical centering */
  justify-content: center; /* center content horizontally */
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 60px;               /* horizontal spacing */
  margin-top: 427px;        /* vertical spacing from top */
  flex-wrap: wrap;          /* allows wrapping on small screens */
  position: relative;
  width: 100%;
}

.button {
  width: 140px;
  height: 50px;
  background: #303030;
  color: white;
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}



