<!DOCTYPE html>
<html>
<head>
    <title>Spotify Sorter</title>
    <script>
        function revealChoices() {
            document.getElementById("choices").style.display = "block";
        }
        function hideChoices() {
            document.getElementById("choices").style.display = "none";
        }
        function revealNumberSort() {
            document.getElementById("numberSort").style.display = "block";
        }
        function hideNumberSort() {
            document.getElementById("numberSort").style.display = "none";
        }
        function revealButtons() {
            document.getElementById("buttons").style.display = "block";
        }
        function hideButtons() {
            document.getElementById("buttons").style.display = "none";
        }
        function revealArtist() {
            document.getElementById("artist").style.display = "block";
        }
        function hideArtist() {
            document.getElementById("artist").style.display = "none";
        }




        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get("reveal") === "true") {
                revealChoices();
                revealNumberSort();
                hideButtons()
                revealArtist();
            }
        }
    </script>
    <style>
        #choices {
            display: none; /* Hide by default */
            margin-top: 1em;
        }
        #numberSort {
            display: none; /* Hide by default */
            margin-top: 1em;
        }
        #buttons {
            display: block; /* Show by default */
            margin-top: 1em;
        }
        #artist {
            display: none; /* Hide by default */
            margin-top: 1em;
        }
    </style>
</head>

<body>
    <h1>Spotify Playlist Sorter</h1>

    

    <!-- Modify form to call JS before submitting -->
    <form id="mainForm" method="post">
        <div id="buttons">
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
            <button type="button" onclick="revealNumberSort(); hideButtons();">Sort Playlists</button>
            <button type="submit" name="action" value="clear">Deletes made playlists</button>
            <button type="button" onclick="revealChoices(); hideButtons();">Top 20 Songs</button>
            <button type="button" onclick="revealArtist(); hideButtons();">Top 10 Songs from Artist</button>
        </div>

        <div id="choices">
            <summary>Select the time of the top 20 songs</summary>
            <label><input type="radio" name="time" value="short_term">short term (4 weeks)</label>
            <label><input type="radio" name="time" value="medium_term">medium term (6 months)</label>
            <label><input type="radio" name="time" value="long_term">all time</label><br>

            <button type="submit" name="action" value="top20_songs">confirm</button>
            <button type="button" onclick="hideChoices(); revealButtons();">cancel</button>
        </div>

        <div id="numberSort">
            <label> The amount of songs to sort: <input type="number" name="numSort" value="20" min="1"></label>
            <button type="submit" name="action" value="sort"> Confirm Sort </button>
            <button type="button" onclick="hideNumberSort(); revealButtons();"> Cancel </button>
        </div>

        <div id="artist">
            <label> Top 10 songs from artist: <input type="text" name="artist"></label>
            <button type="submit" name="action" value="top10_artist"> Confirm </button>
            <button type="button" onclick="hideArtist(); revealButtons();"> Cancel </button>
        </div>
    </form>

    
</body>
</html>
